@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html {
  scroll-behavior: smooth;
}

body {
  color: var(--foreground);
  background: var(--background);
  overflow-x: hidden;
  font-family: Arial, Helvetica, sans-serif;
}

/* Custom CSS for Swiper navigation arrows */
.swiper-button-next,
.swiper-button-prev {
  color: #000; /* Change arrow color */
  background-color: rgba(255, 255, 255, 0.8); /* Add background */
  border-radius: 50%; /* Make it circular */
  width: 40px;
  height: 40px;
}

.swiper-button-next::after,
.swiper-button-prev::after {
  font-size: 20px; /* Adjust arrow size */
}

/* Hero slider arrows - responsive background */
.slick-prev,
.slick-next {
  background: transparent !important;
}

@media (min-width: 768px) {
  .slick-prev,
  .slick-next {
    background: rgba(255, 255, 255, 0.8) !important;
  }
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.mde-text, .mde-tabs{
  color: #000 !important;
}

.mde-tabs button{
  border: 2px solid #000;
  border-radius: 5px;
}

.react-markdown h1 {
  font-size: 1.5rem;
  font-weight: bold;
  margin: 1rem 0; 
}

.react-markdown h2 {
  font-size: 1.25rem;
  font-weight: bold;
  margin: 0.5rem 0;
}

.react-markdown h3 {
  font-size: 1.125rem;
  font-weight: bold;
  margin: 0.5rem 0;
}

.react-markdown p {
  margin-bottom: 1rem;
  white-space: pre-wrap;
}


@media (min-width: 768px) {
  .react-markdown h1 {
    font-size: 1.75rem; 
    margin: 1.2rem 0; 
  }

  .react-markdown h2 {
    font-size: 1.5rem; 
  }

  .react-markdown h3 {
    font-size: 1.25rem; 
  }
}

@media (min-width: 1024px) {
  .react-markdown h1 {
    font-size: 2rem; 
    margin: 1.5rem 0; 
  }

  .react-markdown h2 {
    font-size: 1.75rem; 
  }

  .react-markdown h3 {
    font-size: 1.5rem; 
  }
}


@media (min-width: 1280px) {
  .react-markdown h1 {
    font-size: 2.25rem;
    margin: 1.75rem 0;
  }

  .react-markdown h2 {
    font-size: 2rem;
  }

  .react-markdown h3 {
    font-size: 1.75rem;
  }
}


.slick-prev:before, .slick-next:before {
  display: none;
}